<div class="contenedor">
    <form action="" method="POST" class="default-form">
        <div class="campo">
            <label for="password">Nuevo Password</label>
            <input type="password" name="password" placeholder="Tu nueva password" required>
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer" class="btn btn-azul">
        </div>
    </form>
</div>